In [9]:
#Задание1
import pandas as pd

In [45]:
import re

In [10]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies = movies.filter(items = ['movieId', 'title'])
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [11]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings = ratings.filter(items = ['movieId', 'rating'])
ratings.head()

   movieId  rating
0       31     2.5
1     1029     3.0
2     1061     3.0
3     1129     2.0
4     1172     4.0

In [158]:
df = movies.merge(ratings, on='movieId', how='left')

In [159]:
def count_ratings(rating):
    if rating <= 2:
        return 'низкий'
    elif rating > 2 and rating <=4:
        return 'средний'
    elif rating == 5 or rating == 4.5:
        return 'высокий'

In [160]:
df['class_rating'] = df['rating'].apply(count_ratings)
df.head()

   movieId             title  userId  rating     timestamp class_rating
0        1  Toy Story (1995)     1.0     4.0  9.649827e+08      средний
1        1  Toy Story (1995)     5.0     4.0  8.474350e+08      средний
2        1  Toy Story (1995)     7.0     4.5  1.106636e+09      высокий
3        1  Toy Story (1995)    15.0     2.5  1.510578e+09      средний
4        1  Toy Story (1995)    17.0     4.5  1.305696e+09      высокий

In [169]:
df_average_rating = df.groupby('title').rating.mean().apply(count_ratings)
#df_average_rating
df_average_rating.dropna().value_counts()

средний    5654
низкий      626
высокий     257
Name: rating, dtype: int64

In [15]:
#Задание2
key_w = pd.read_csv('ml-latest-small/keywords.csv')
#key_w.keyword.count()
key_w.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [16]:
def region_names(keyword):    
    if ('москва' in keyword) or ('тула' in keyword) or ('ярославль' in keyword):
        return 'Центр'
    elif ('петербург' in keyword) or ('псков' in keyword) or ('мурманск' in keyword):
        return 'Северо-Запад'
    elif ('владивосток' in keyword) or ('сахалин' in keyword) or ('хабаровск' in keyword):
        return 'Дальний Восток'
    else:
        return 'undefined'

In [171]:
key_w['region'] = key_w['keyword'].apply(region_names)
#key_w.head(10)
key_w.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

In [151]:
#Задание3
years = list(range(1950,2011))
years = [str(x) for x in years]

In [152]:
def production_year(row):
    result = re.sub(r'(.+)(\W)(\d{4})\)', r'\3', row['title'])
    if result in years:
        return result
    else:
        return '1900'

In [156]:
df['year'] = df.apply(production_year, axis=1)
df.groupby('year').rating.mean().sort_values(ascending = False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.355945
Name: rating, Length: 62, dtype: float64